* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF4EE;
  font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
  width: 8px;            
}
body::-webkit-scrollbar-track {
  background: #fcf1f1; 
}
body::-webkit-scrollbar-thumb {

  background-color: #F2CBBF;

  border: 1px solid #F2CBBF;
}

.App {
  display: flex;
  flex-wrap: wrap;
}